{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}
<div>
    <h1>Marques</h1>

    <ul>
        {% for brand in brands %}
            <li><a href="{{ path('brand_show', {id: brand.id}) }}">{{ brand }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
